body {
	background: url(../img/banksymovil.jpg);
}
.caja {
	width: 100%;
	max-width: 480px;
	background: rgba(255, 255, 255, 0.8);
}
.navegador {
    display: flex;
	text-align: center;
	margin: 1em;
    flex-direction: column;
    background-color: #aba097;
}
ul {
	list-style-type: none;
}
li {
    display: inline-block;	
}
div ul li a {
	padding: .5em;
}
h1, h2, h3 {
	text-align: center;
}
.contenedor {
	padding: 2em;
}

a: link {}
a: hover {}
a: active {}
a: visited {}


@media (min-width: 960px){

	body {
		background: url(../img/banksydeckstop.jpg);
	}
	.caja {
		max-width: 100%;
	}

}